.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1{
  text-align: center;
  margin-bottom: 20px;
  font-family:  Satisfy;
  color:rgb(81, 52, 102);
  font-size: 40px;
}
#tearoom{
  width:500px;
  height:400px;
 padding-left: 20%;
}

#byline {
  text-align: start;
  margin-bottom: 20px;
  font-family: Satisfy;
  margin-left: 20px;
  color:rgb(82, 46, 107);
}

#author{
  margin-top: 10px;
  width: 170px;
  border-radius: 50%;
  border: solid 1px indigo;

}
.images{
  width:600px;
  height:400px;
 padding-left: 10%;
}

#subtitle {
  font-family: Pacifico;
  color:rgb(65, 43, 78);

}

h3{
  text-align: center;
}

h2{
  text-align: center;
  font-family: Pacifico;
  color:rgb(65, 43, 78);
}

.wrapper{
  max-width: 800px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  background-color: lightgrey;
}

.contact{
  color:rgb(109, 88, 124);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
